*{
    outline: 0;
}
.outer-circle {
        	width: 400px;
            height: 400px;
            background: #333333;
            position: absolute;
            top: 150px;
            left: 456px;
            border-radius: 240px;
            border: 8px solid #333333;
        }
.inner-circle {
            text-align: center;
            width: 200px;
            height: 200px;
            top: 94px;
            left: 89px;
            position: absolute;
	        background: #ece7ee;
            border-radius: 140px;  
            border: 12px solid #333333;
        }
.strict {
            width: 20px;
            height: 20px;
            text-align: center;
            background: yellow;
            position: absolute;
            top: 92px;
            left: 136px;
            border-radius: 18px;
            border: 3px solid #333333;
            box-shadow: 0px 0px 1px 1px #333333;
        }
.start {
            width: 20px;
            height: 20px;
            text-align: center;
            background: red;
            position: absolute;
            top: 92px;
            left: 90px;
            border-radius: 18px;
            box-shadow: 0px 2px 3px #333333;
            border: 3px solid #333333;
            box-shadow: 0px 0px 1px 1px #333333;
       }
.blink {
            width: 6px;
            height: 6px;
            background: brown;
            position: absolute;
            top: 75px;
            left: 143px;
            border-radius: 4px;
            border: 0.2px solid #333333;
        }
.count {
            width: 44px;
            height: 28px;
            text-align: center;
            color: red;
            background: #33040b;
            position: absolute;
            top: 84px;
            left: 20px;
            border-radius: 8px;
            border: 4px solid #333333;
        }    
.countext{
            width: 44px;
            height: 28px;
            position: absolute;
            top: 97px;
            left: 33px;
}   
#b1 {
     width: 200px;
     height: 200px;
     margin-top: 0;
     background: #00a845;
     border-top-left-radius: 100%;
     border: 12px solid #333333;
}
#b2 {
     width: 200px;
     height: 200px;
     position: absolute;
     top: 0px;
     left: 200px;
     background: #a10b0f;
     border-top-right-radius: 100%;
     border: 12px solid #333333;
}
#b3 {
     width: 200px;
     height: 200px;
     margin-bottom: 0px;
     background: #cda800;
     border-bottom-left-radius: 100%;
     border: 12px solid #333333;
}
#b4 {
     width: 200px;
     height: 200px;
     position: absolute;
     top: 200px;
     left: 200px;
     background: #014891;
     border-bottom-right-radius: 100%;
     border: 12px solid #333333;
}
#b5 {
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: -1px;
    left: 0px;
    border-radius: 15px;
    border: none;
}
#b5:active{
    box-shadow: 0px 0px 1.5px 1.5px #292929;
    margin-top: 2px;  
}
#b6 {
     width: 20px;
     height: 20px;
     background: transparent;
     position: absolute;
     top: -1px;
     left: 0px;
     border-radius: 15px;
     border: 1.5px solid transparent;     
}
#b6:active{
    box-shadow: 0px 0px 1.5px 1.5px #292929;
    margin-top: 2px;
}
.switch {
    width: 30px;
    height: 15px;
    position: absolute;
    top: 152px;
    left: 80px;
    background: #333333; 
    border: 2px solid #333333;
    border-radius: 2px;   
}
#toggle {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #1c8cff;
    border: 0.2px solid transparent;
    border-radius: 3px; 
}
#toggle2 {
    width: 30px;
    height: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    border: 0.2px solid transparent;
    border-radius: 0px; 
}
#on-text {
    font-size: 1vw;
    position: absolute;
    margin-top: -3px;
    margin-left: 24px;
    color: #333333;
    font-family: 'Oswald';
}
#off-text {
    font-size: 1vw;
    position: absolute;
    margin-top: -3px;
    margin-left: -42px;
    color: #333333;
    font-family: 'Oswald';
}
#simon-text {
    font-size: 40px;
    font-family: 'Alfa Slab One' , cursive;
    margin-top: 22px;
    color: #292929;
}
#strict-text {
    font-size: 12px;
    font-family: 'VT323';
    margin-top: 34px;
    margin-left: -3px;
    color: #333333;
}
#start-text {
    font-size: 12px;
    font-family: 'VT323';
    margin-top: 34px;
    margin-left: -2px;
    color: #333333;
}
#count-text {
    font-size: 12px;
    font-family: 'VT323';
    margin-top: 19px;
    margin-left: 5px;
    color: #333333;
}