*{
    outline: 0;
}
.outer-circle {
            width: 30vw;
            height: 30vw;
            background: #333333;
            position: relative;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 60%;
            border: 0.4vw solid #333333;
        }
.inner-circle {
            text-align: center;
            width: 15vw;
            height: 15vw;
            top: 22%;
            left: 21.5%;
            position: absolute;
	    background: #ece7ee;
            border-radius: 70%;  
            border: 1vw solid #333333;
        }
.strict {
            width: 1.7vw;
            height: 1.7vw;
            text-align: center;
            background: yellow;
            position: absolute;
            top: 42%;
            left: 68%;
            border-radius: 1.2vw;
            border: 0.2vw solid #333333;
            box-shadow: 0vw 0vw 0.1vw 0.1vw #333333;
        }
.start {
            width: 1.7vw;
            height: 1.7vw;
            text-align: center;
            background: red;
            position: absolute;
            top: 42%;
            left: 45%;
            border-radius: 1.2vw;
            box-shadow: 0vw 0vw 0.1vw 0.1vw #333333;
            border: 0.2vw solid #333333;
            box-shadow: 0vw 0vw 0.1vw 0.1vw #333333;
       }
.blink {
            width: 0.3vw;
            height: 0.3vw;
            background: #333333;
            position: absolute;
            top: 36%;
            left: 73.5%;
            border-radius: 0.4vw;
            border: 0.00001vw solid #333333;
        }
.count {
            width: 3.2vw;
            height: 1.9vw;
            text-align: center;
            color: red;
            background: #33040b;
            position: absolute;
            top: 40.5%;
            left: 12%;
            border-radius: 0.6vw;
            border: 0.2vw solid #333333;
        }    
#b1 {
     width: 15vw;
     height: 15vw;
     margin-top: 0;
     background: #00a845;
     border-top-left-radius: 100%;
     border: 0.8vw solid #333333;
}
#b2 {
     width: 15vw;
     height: 15vw;
     position: absolute;
     top: 0px;
     left: 15vw;
     background: #a10b0f;
     border-top-right-radius: 100%;
     border: 0.8vw solid #333333;
}
#b3 {
     width: 15vw;
     height: 15vw;
     margin-bottom: 0vw;
     background: #cda800;
     border-bottom-left-radius: 100%;
     border: 0.8vw solid #333333;
}
#b4 {
     width: 15vw;
     height: 15vw;
     position: absolute;
     top: 15vw;
     left: 15vw;
     background: #014891;
     border-bottom-right-radius: 100%;
     border: 0.8vw solid #333333;
}
#b5 {
    width: 1.7vw;
    height: 1.7vw;
    background: transparent;
    position: absolute;
    top: 0vw;
    left: 0vw;
    border-radius: 75%;
    border: none;
}
#b5:active{
    box-shadow: 0vw 0vw 0.1vw 0.1vw #292929;
    margin-top: 0.007vw;  
}
#b6 {
     width: 1.7vw;
     height: 1.7vw;
     background: transparent;
     position: absolute;
     top: 0vw;
     left: 0vw;
     border-radius: 75%;
     border: 0.2vw solid transparent;     
}
#b6:active{
    box-shadow: 0vw 0vw 0.1vw 0.1vw #292929;
    margin-top: 0.007vw;
}
.switch {
    width: 2.4vw;
    height: 1.2vw;
    position: absolute;
    top: 76%;
    left: 40%;
    background: #333333; 
    border: 0.2vw solid #333333;
    border-radius: 0.35vw;   
}
#toggle {
    width: 1.2vw;
    height: 1.2vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
    background: #1c8cff;
    border: 0.0002vw solid transparent;
    border-radius: 0.3vw; 
}
#toggle2 {
    width: 2.4vw;
    height: 1.2vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
    background: transparent;
    border: 0.0002vw solid transparent;
    border-radius: 0vw; 
}
#on-text {
    font-size: 1vw;
    position: absolute;
    margin-top: -0.1vw;
    margin-left: 2vw;
    color: #333333;
    font-family: 'Oswald';
}
#off-text {
    font-size: 1vw;
    position: absolute;
    margin-top: -0.1vw;
    margin-left: -3.2vw;
    color: #333333;
    font-family: 'Oswald';
}
#simon-text {
    font-size: 3.2vw;
    font-family: 'Alfa Slab One' , cursive;
    margin-top: 1.7vw;
    color: #292929;
}
#strict-text {
    font-size: 1vw;
    font-family: 'VT323';
    margin-top: 2.65vw;
    margin-left: -0.2vw;
    color: #333333;
}
#start-text {
    font-size: 1vw;
    font-family: 'VT323';
    margin-top: 2.65vw;
    margin-left: -0.1vw;
    color: #333333;
}
#count-text {
    font-size: 1vw;
    font-family: 'VT323';
    position: absolute;
    top: 9.18vw;
    left: 2.6vw;
    color: #333333;
}